html, body {
	margin: auto;
	background: #fefefe;
	font-size: 17px;
}

body {
	font-family: "Vollkorn", Palatino, Times, "Noto Sans CJK SC", "微软雅黑", "FangSong", "仿宋", STFangSong, "华文仿宋", serif;
	color: #323232;
	line-height: 1.8;
	text-align: left;
	max-width: 800px;
	margin: 2em auto;
	padding: 1em;
}

h1 {
	margin-top: 1em;
	font-weight: normal;
	font-size: 2.4em;
	text-align: center;
}

h2 {
	margin-top: 2em;
	font-weight: normal;
	font-size: 1.8em;
	text-align: center;
}

h3 {
	font-weight: normal;
	font-style: italic;
	margin-top: 1.6em;
	font-size: 1.5em;
}

h1+h2, h2+h3 {
	margin-top: 0.83em;
}

h2:after {
	border-bottom: 1px solid #2f2f2f;
	content: '';
	width: 100px;
	display: block;
	margin: 0 auto;
	height: 1px;
}

ul {
	list-style: square;
	padding-left: 1.2em;
}

ol {
	padding-left: 1.2em;
}

blockquote {
	position: relative;
	margin: 24px 0 30px 0;
	color: #696969;
}

blockquote::before, blockquote::after {
	position: absolute;
	font: italic 40px "Crimson", Georgia, serif;
	color: #888888;
}

blockquote::before {
	content: "\201c";
	left: -7px;
	top: -20px;
}

blockquote::after {
	content: "\201d";
	right: 7px;
}

blockquote p {
	margin: 0 24px;
}

blockquote cite {
	display: block;
	text-align: right;
	font-style: italic;
	font-size: 16px;
}

blockquote cite::before {
	content: "\2014\00a0";
}

code, pre {
	font-family: "Cascadia Code", "Fira Code", "Consolas", "Menlo", "Monaco", monospace, serif;
	font-size: .9em;
}

code {
	color: #c7264e;
}

a {
	color: #2484c1;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}

h1 a, h1 a:hover {
	color: #333;
	text-decoration: none;
}

img {
	max-width: 100%;
	margin: 16px auto;
	display: block;
}

hr {
	color: #ddd;
	height: 1px;
	margin: 2em 0;
	border-top: solid 1px #ddd;
	border-bottom: none;
	border-left: 0;
	border-right: 0;
}

table {
	margin-bottom: 1.333333rem
}

table th, table td {
	padding: 8px;
	line-height: 1.333333rem;
	vertical-align: top;
	border-top: 1px solid #ddd
}

table th {
	font-weight: bold
}

table thead th {
	vertical-align: bottom
}

table caption+thead tr:first-child th, table caption+thead tr:first-child td, table colgroup+thead tr:first-child th, table colgroup+thead tr:first-child td, table thead:first-child tr:first-child th, table thead:first-child tr:first-child td {
	border-top: 0
}

table tbody+tbody {
	border-top: 2px solid #ddd
}
